body {
    background-image: linear-gradient(to right,#2233a5,#8d58fe);
}
@font-face {
    font-family: LexendDeca;
    src: url(LexendDeca-Regular.ttf);
 }
 @font-face {
     font-family: SourceCodePro;
     src: url(SourceCodePro-Regular.ttf);
 }
.tweet {
    background-color: rgba(0, 255, 255, 0.575);
    padding: 2%;
    border: 5px solid black;
    font-family: SourceCodePro;
}
.title {
    text-align: center;
    color: white;
    font-family: LexendDeca;
}
.login {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.login_buttion {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.game {
    display: none;
}
.taken {
    display: none;
    text-align: center;
    font-family: LexendDeca;
    color: white;
}
.gameOutcome {
    margin-top: 20px;
    display: none;
    text-align: center;
    color: white;
    margin-left: 200px;
    margin-right: 200px;
}
.playAgain {
    display: none;
    text-align: center;
    background-color: aqua;
    padding: 2%;
    border: 5px solid black;
    margin-left: 200px;
    margin-right: 200px;
}
.tweetBlerb {
    background-color: rgba(0, 255, 255, 0.575);
    padding: 2%;
    border: 5px solid black;
    font-family: SourceCodePro;
}
.terms {
    font-family: SourceCodePro;
    color: white;
    text-align: center;
    position: fixed;
    left: 0;
    margin-left: 45%;
    bottom: 0;
}