.tweet {
    background-color: aqua;
    padding: 2%;
    border: 5px solid black;
}
.title {
    text-align: center;
}
.login {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.login_buttion {
    display: block;
    margin-left: auto;
    margin-right: auto
}